<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Actunews {{ 'now'|date('Y') }} - Tous droits réservés</div>
            <div>
                <a href="#">Mentions Légales</a>
                &middot;
                <a href="#">RGPD</a>
            </div>
        </div>
    </div>
</footer>