{% extends "base.html.twig" %}

{% block title %}
    Contactez-nous
{% endblock %}

{% block body %}
    <h1>PAGE CONTACT</h1>
    <form action="">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
    </form>
{% endblock %}

