<div class="box-caption">
  <span>A la une</span>
</div>

<!--spotlight-->
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let post of featuredPosts">
    <div>
      <article class="spotlight-item">
        <div class="spotlight-img">
          <img alt="{{ post.title }}" src="https://localhost:8000/uploads/posts/{{ post.image }}"
               class="img-responsive"/>
          <a [routerLink]="post.category.slug" class="cate-tag">{{ post.category.name }}</a>
        </div>
        <div class="spotlight-item-caption">
          <h2 class="font-heading">
            <a href="#">
              {{ post.title }}
            </a>
          </h2>
          <div class="meta-post">
            <a href="#">
              {{ post.author.firstname + ' ' + post.author.lastname }}
            </a>
            <em></em>
            <span>
              {{ post.createdAt|date : 'dd/MM/yyyy' }}
          </span>
          </div>
        </div>
      </article>
    </div>
  </ng-template>
</owl-carousel-o>

<!--spotlight-thumbs-->
<section class="spotlight-thumbs">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12" *ngFor="let post of posts">
      <div class="spotlight-item-thumb">
        <div class="spotlight-item-thumb-img">
          <a href="#">
            <img alt="{{ post.title }}" src="https://localhost:8000/uploads/posts/{{ post.image }}"
                 class="img-responsive"/>
          </a>
          <a [routerLink]="post.category.slug" class="cate-tag">{{ post.category.name }}</a>
        </div>
        <h3><a href="#">{{ post.title }}</a></h3>
        <div class="meta-post">
          <a href="#">
            {{ post.author.firstname + ' ' + post.author.lastname }}
          </a>
          <em></em>
          <span>
              {{ post.createdAt|date : 'dd/MM/yyyy' }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
