{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-5">
        <div class="col-6 mx-auto">
            <h3 class="mb-5">Rédiger un article</h3>
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}
