<p>
    En cas de difficultés n'hésitez pas à nous contacter.
    <br>Nous sommes joignable par email : <a href="mailto:contact@actu.news">contact@actu.news</a>
    <br/><br/>Bonne Réception,
    <br/>L'&Eacute;quipe de ActuNews !
</p>