<div class="box-caption">
  <span *ngIf="posts[0]">{{ posts[0].category.name }}</span>
</div>
<!--list-news-cate-->
<div class="list-news-cate">
  <article class="news-cate-item" *ngFor="let post of posts">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <a routerLink="/{{ post.category.slug+'/'+post.slug }}">
          <img alt="{{ post.title }}" src="https://localhost:8000/uploads/posts/{{ post.image }}"
               class="img-responsive"/>
        </a>
      </div>
      <div class="col-md-7 col-sm-7 col-xs-12">
        <h3>
          <a routerLink="/{{ post.category.slug+'/'+post.slug }}">
            {{ post.title }}
          </a>
        </h3>
        <div class="meta-post">
          <a href="#">
            {{ post.author.firstname + ' ' + post.author.lastname }}
          </a>
          <em></em>
          <span>
              {{ post.createdAt|date : 'dd/MM/yyyy' }}
          </span>
        </div>
      </div>
    </div>
  </article>
</div>
