<!--post-detail-->
<article class="post-detail">
  <h1>{{ post.title }}</h1>
  <div class="post-detail-img">
    <img alt="{{ post.title }}"
         src="https://localhost:8000/uploads/posts/{{ post.image }}"/>
  </div>
  <div class="meta-post">
    <a href="#">
      {{ post.author.firstname + ' ' + post.author.lastname }}
    </a>
    <em></em>
    <span>
        {{ post.createdAt|date : 'dd/MM/yyyy' }}
    </span>
  </div>

  <div [innerHTML]="post.content"></div>

  <h5 class="text-right font-heading"><strong>{{ post.author.firstname + ' ' + post.author.lastname }}</strong></h5>

</article>
<!--social-detail-->
<div class="social-detail">
  <span>Partager l'article</span>

  <ul class="list-social-icon">
    <li>
      <a href="#" class="facebook">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="#" class="twitter">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="#" class="google">
        <i class="fa fa-google"></i>
      </a>
    </li>
    <li>
      <a href="#" class="youtube">
        <i class="fa fa-youtube-play"></i>
      </a>
    </li>
    <li>
      <a href="#" class="pinterest">
        <i class="fa fa-pinterest-p"></i>
      </a>
    </li>
    <li>
      <a href="#" class="rss">
        <i class="fa fa-rss"></i>
      </a>
    </li>

  </ul>
</div>

<!--comments-->
<div class="detail-caption">
  <span>  3 COMMENTS</span>
</div>
<div class="list-comment">
  <div class="author-info">
    <div class="author-avatar">
      <a class="author-link" href="#">
        <img src="assets/images/avatar.jpg"/>
      </a>
    </div>

    <div class="author-text">
      <div class="author-text-inner">
        <h3 class="author-title">
          <a class="author-link" href="#">
            Sue Benson
          </a>

          <span>21 Sep 2016 at 6:35am</span>
        </h3>
        <p>
          Curabitur aliquet quam id dui posuere blandit. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet
          quam id dui posuere blandit
          <a href="#">Reply</a>
        </p>
      </div>
      <div class="reply-wrap">
        <div class="author-info">
          <div class="author-avatar">
            <a class="author-link" href="#">
              <img src="assets/images/avatar1.jpg"/>
            </a>
          </div>

          <div class="author-text">
            <div class="author-text-inner">
              <h3 class="author-title">
                <a class="author-link" href="#">
                  Marion Craig
                </a>

                <span>21 Sep 2016 at 6:55am</span>
              </h3>
              <p>
                Curabitur aliquet quam id dui posuere blandit. Pellentesque in ipsum id orci porta dapibus. Curabitur
                aliquet quam id dui posuere blandit
                <a href="#">Reply</a>
              </p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="author-info">
    <div class="author-avatar">
      <a class="author-link" href="#">
        <img src="assets/images/avatar2.jpg"/>
      </a>
    </div>

    <div class="author-text">
      <div class="author-text-inner">
        <h3 class="author-title">
          <a class="author-link" href="#">
            Super User
          </a>

          <span>21 Sep 2016 at 7:10am</span>
        </h3>
        <p>
          Curabitur aliquet quam id dui posuere blandit. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet
          quam id dui posuere blandit
          <a href="#">Reply</a>
        </p>
      </div>


    </div>
  </div>
</div>

<!--leave a reply-->
<div class="detail-caption">
  <span>  Leave a reply</span>
</div>
<form class="comment-form">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="field-item">
        <input type="text" placeholder="Name"/>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="field-item">
        <input type="text" placeholder="Email"/>
      </div>
    </div>
  </div>
  <div class="field-item">
    <textarea placeholder="Text here..."></textarea>
  </div>
  <div class="field-item">
    <button class="my-btn my-btn-dark">SUBMIT</button>
  </div>
</form>
